/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
   
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\23F5";
    color: black;
    display: inline-block;
    margin-right: 6px;

   
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {

    transform: rotate(90deg);
  
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
   
    display: block;
   
  }
  .active li{
   
    display: block;
    animation-duration: .5s;
    animation-name: slidein;
  }


  @keyframes slidein {
    0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
  }